.header {
  background-color: #666666;
  display: flex;
}
.logo {
  max-height: min-content;
  padding-left: 3%;
  color: #ffffff;
  font-size: 23px;
  font-family: fantasy;
  margin: 0 auto;
  flex-basis: 50%;
}
.header__conteyner-flex {
  font-size: 22px;
  color: #ffffff;
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
}

.logo-span--2 {
  color: #f1f1f1;
}
.logo-span {
  color: #343434;
}
.header__text:hover{
  transform: scale(1.1);
  transition: all 500ms ease 0s;
}