.level{
    color: #666666;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
.level__header{
    
    font-weight: 600;
}
.level__li{
    font-family: fantasy;
    font-size: 20px;   
}