.content{
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-around;
    min-height: 100%;
  /*  background-image: url(C:\Users\Home\Desktop\CSS KOVBOY\pet-project\src\Source\IMG\iconfinder_Artboard_14_4859072.svg);*/
};
.content:last-child {
  margin-right: 0;
  margin-bottom: 0;
  }
