.block__conteiner {
  background: url("../Source/jpeg/desert.png") repeat-x
    rgba(86, 116, 116, 0.212);
  flex-basis: 60%;
  background-size: contain;
 
}
.user{
    display: flex;
    justify-content:center;
}
.block__svg {
width: 10%;
height: 35%;
background: url("../Source/svg/cowboy.svg");
background-repeat: no-repeat;
background-size:contain;
}
