.content_left{ 
    background-color: rgba(210, 105, 30, 0.315);
  
    flex-basis:29.7%;
   
};
.content_left_button{
    display: flex;
    justify-content: end;
}
.left-task{
    padding-top: 5px;
}