.header {
  background-color: #666666;
  display: flex;
}
.logo {
  margin: 0 auto;
  flex-basis: 50%;
}
.header__conteyner-flex {
    font-size: 24px;
    color: #ffffff;
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
}
.header__item {
}
