.exit-conteiner{
    background-color: beige;
    color: #666666;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background: url('/src/Source/png/send.png');
    background-repeat:repeat-x;
    background-size: contain;
    border-radius: 10px 10px 10px 10px;
}
.exit--befor{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 3px;

}
.exit__input{
    color: #666666;
    font-weight: 600;
    font-size: 18px;
    background-color: #fafafa21;
 border-radius: 5px;



}
.exit--after{
    margin-left: 11px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;

}